In [3]:
original_list = [10, 20, 30, 40, 5]
# extracted_list = [original_list[0], original_list[1], original_list[1]] 
# print(extracted_list)

extracted_list= []
for i in range(3):
    extracted_list.append(original_list[i])
    
print(extracted_list)

[10, 20, 30]

In [ ]:
original_list = [10, 20, 30, 40, 5]
# extracted_list = [original_list[1], original_list[2], original_list[3]] 
# print(extracted_list)

extracted_list= []

for i in range(1,4):
    extracted_list.append(original_list[i])  #middle element
print(extracted_list)

[20, 30, 40]

In [ ]:
original_list = [10, 20, 30, 40, 5]
extracted_list= []
length1 = len(original_list)//2      #flooring korar jonno

for i in range(length1-1, length1+2):
    extracted_list.append(original_list[i])
print(extracted_list)

[20, 30, 40]

In [ ]:
original_list = [10, 20, 30, 40, 5]
extracted_list= original_list[0:3]  # slice for first # element

print(extracted_list)

[10, 20, 30]

In [ ]:
original_list = [10, 20, 30, 40, 5]
length1 = len(original_list)//2  
extracted_list= original_list[length1-1 : length1+2]   #slice for middle 3 element

print(extracted_list)

[20, 30, 40]

In [ ]:
#odd print
original_list = [10, 25, 30, 40, 5]
length1 = len(original_list)
extracted_list= []
for i in original_list:
    if(i  % 2 !=0):
       extracted_list.append(i)
    
print(extracted_list)

[25, 5]

In [ ]:
original_list = [10, 25, 30, 40, 5]
extracted_list= [var for var in original_list]  #print all element
print(extracted_list)

[10, 25, 30, 40, 5]

In [ ]:
original_list = [10, 25, 30, 40, 5]
extracted_list= [var for var in original_list[0:3]]  #first 3 element
print(extracted_list)

[10, 25, 30]

In [ ]:
original_list = [10, 25, 30, 40, 5]
extracted_list= [original_list[var] for var in range(3) ]
print(extracted_list)

[10, 25, 30]

In [ ]:
original_list = [10, 25, 30, 40, 5]
extracted_list= [var for var in original_list if var %2 != 0]    #odd print
print(extracted_list)

[25, 5]

In [30]:
semester_8 = {
     "student1" : {
        "Name" : "Nahid",
        "id" : 221311131,
        "CGPA" : 4.00
    },
    "student2" : {
        "Name" : "Sahid",
        "id" : 2213111310,
        "CGPA" :  3.80
    },
    "student3" : {
        "Name" : "jahid",
        "id" : 2213111352,
        "CGPA" :  3.60
    }
}

name_list = [semester_8[student] for student in semester_8]

print(name_list)

[{'Name': 'Nahid', 'id': 221311131, 'CGPA': 4.0}, {'Name': 'Sahid', 'id': 2213111310, 'CGPA': 3.8}, {'Name': 'jahid', 'id': 2213111352, 'CGPA': 3.6}]

In [31]:
semester_8 = {
     "student1" : {
        "Name" : "Nahid",
        "id" : 221311131,
        "CGPA" : 4.00
    },
    "student2" : {
        "Name" : "Sahid",
        "id" : 2213111310,
        "CGPA" :  3.80
    },
    "student3" : {
        "Name" : "jahid",
        "id" : 2213111352,
        "CGPA" :  3.60
    }
}

name_list = [semester_8[student]["Name"] for student in semester_8]

print(name_list)

['Nahid', 'Sahid', 'jahid']

In [37]:
semester_8 = {
     "student1" : {
        "Name" : "Nahid",
        "id" : 221311131,
        "CGPA" : 4.00
    },
    "student2" : {
        "Name" : "Sahid",
        "id" : 2213111310,
        "CGPA" :  3.80
    },
    "student3" : {
        "Name" : "jahid",
        "id" : 2213111352,
        "CGPA" :  3.60
    }
}

name_list = [semester_8[student]["Name"] for student in semester_8]
id_list = [semester_8[student]["id"] for student in semester_8]

print(name_list)
print(id_list)

['Nahid', 'Sahid', 'jahid']
[221311131, 2213111310, 2213111352]