In [ ]:
list1 = [10,52,30,]
list2 = [2,5,7,9]

print(list1)
list1.remove(52)
print(list1)
list1.append(25)
print(list1)
list1.reverse()
print(list1)
list1.sort()
print(list1)

list3 = list1 + list2

print(list3)
print(list3[3])

[10, 52, 30]
[10, 30]
[10, 30, 25]
[25, 30, 10]
[10, 25, 30]
[10, 25, 30, 2, 5, 7, 9]
2

In [18]:
list_2d =[
    [10,25,35],
    [2,4,6]
]
print(list_2d[1][2])

6

In [20]:
list_3d=[
    [
    [10,25,35],
    [2,4,6]
],
[
    [100,250,35],
    [20,40,60]
]
]
print(list_3d[1][1][1])

40

In [21]:
list_4d=[
    [
    [
    [10,25,35],
    [2,4,6]
],
[
    [100,250,35],
    [20,40,60]
]
],
[
    [
    [10,256,35],
    [2,4,6]
],
[
    [100,250,35],
    [20,40,60]
]
]
]
print(list_4d[1][0][0][1])

256

In [ ]:
students_list = {
    "student1":{
        "Name": "nahid",
        "id": 221311131,
        "CGPA": 3.85
    },
    "student2":{
        "Name": "Homai Ara",
        "id": 221311131,
        "CGPA": 3.85
    },
    "student3":{
        "Name": "Shrabpny",
        "id": 221311131,
        "CGPA": 3.85
    }
}

print(students_list)
print(students_list["student1"]["id"])

{'student1': {'Name': 'nahid', 'id': 221311131, 'CGPA': 3.85}, 'student2': {'Name': 'Homai Ara', 'id': 221311131, 'CGPA': 3.85}, 'student3': {'Name': 'Shrabpny', 'id': 221311131, 'CGPA': 3.85}}
221311131

In [15]:
Student_list = {
    "Student1" : {
        "Name" : "Nahid hasan",
        "Id" : 221311131,
        "CGPA" : 3.85
    },
    "Student2" : {
        "Name" : "Nuhan",
        "Id" : 221311121,
        "CGPA" : 3.95
    },
    "Student3" : {
        "Name" : "Kuhin",
        "Id" : 221311155,
        "CGPA" : 3.91
    },
    "Student4":{
        "Name": "Ripper",
        "ID" : "Confidential",
        "CGPA" : "Unknow",
        "Time_Space" : [
                [
                    [
                        [10,20,30],
                        [40,50,60]
                    ],
                    [
                        [100,200,300],
                        [400,500,600]
                    ]
                ],
                [
                    [
                        [101,202,303],
                        [404,505,606]
                    ],
                    [
                        [1001,2002,3003],
                        [4004,5005,6006]
                    ]
                ]
            ]
    }
}

print("Time space List(where 2002): " ,Student_list["Student4"]["Time_Space"][1][1][0])
print()

Student_list["Student4"]["Time_Space"][1][1][0].remove(2002)
print("Remove 2002: ",Student_list["Student4"]["Time_Space"][1][1][0])
print()

Student_list["Student4"]["Time_Space"][1][1][0].append(221311131)
print("Add My Id(221311131): ",Student_list["Student4"]["Time_Space"][1][1][0])

Time space List(where 2002):  [1001, 2002, 3003]

Remove 2002:  [1001, 3003]

Add My Id(221311131):  [1001, 3003, 221311131]