In [2]:
def func(a):
    print("This is number:" ,a)

func("Five")

This is number: Five

In [ ]:
a =int(input()) 
b = int(input()) 
def add(a,b):
    print(a+b)
    return a+b
var = add(a,b)

num = 5 * var
num2 = 2 + var
print(num)
print(num2)

5
25
7

In [24]:
list1 = [10,20,30]
list2 = [50,60]

list1.append(40)
list1.reverse()
list1.remove(20)
list1.sort()

list3 = list1 + list2

print(list1[1])
print(list1)
print(list3)

30
[10, 30, 40]
[10, 30, 40, 50, 60]

In [22]:
#2d list
list_2d = [
    [10,20,30], #0 no. row
    [40,50,60]  #1 no. row
]

print(list_2d[1][1]) #50 1 no row er 1 no column e

50

In [5]:
#3d list
list_3d = [
    [    #0 no list
     [10,20,30], 
     [40,50,60] #1 no row 1 no column 50
    ],
    [   #1 no list
     [100,110,120], 
     [1300,140,150]
    ]
]

print(list_3d[1][1][1])  #[0] = 0 no list , [1] = 1 no row , [1] = 1 no column

140

In [6]:
#4d list
list_4d = [
    [ #0 no list
        [    #0 no list
        [10,20,30], 
        [40,50,60] #1 no row 1 no column 50
        ],
        [   #1 no list
        [100,110,120], 
        [1300,140,150]
        ]
   ],
    [ #1 no list
        [    #0 no list
        [110,202,330], 
        [440,550,660] #1 no row 1 no column 50
        ],
        [   #1 no list
        [1200,110,120], 
        [1300,140,150]
        ]
   ]
]

print(list_4d[1][0][1][1])  #[1] = 1 no list, [0] = 0 no list , [0] = 0 no row , [1] = 1 no column

550

In [16]:
tuple1 = (10,20,30)  #const list

print(tuple1)

(10, 20, 30)

In [33]:
dictionary1 = {
    10 : "Admin",
    100 : "User" ,
    "password" : "nh123"
}

print(dictionary1[100])
print(dictionary1["password"])

User
nh123

In [38]:
student_list ={
    "student1" : {
        "Name" : "Nahid",
        "id" : 221311131,
        "CGPA" : 4.00
    },
    "student2" : {
        "Name" : "Sahid",
        "id" : 2213111310,
        "CGPA" :  3.80
    },
    "student3" : {
        "Name" : "jahid",
        "id" : 2213111352,
        "CGPA" :  3.60
    }
    ,
    "student4" : {
        "Name" : "Sahid",
        "id" : 2213111319,
        "CGPA" :  3.10
    }
}

print(student_list["student1"])
print(student_list["student2"]["Name"])

{'Name': 'Nahid', 'id': 221311131, 'CGPA': 4.0}
Sahid