In [3]:
inp = input("Enter Your name: ")
print(inp)

fff

In [ ]:
c = 8
ran =5
for i in range(5):
    c = c + 1
    print(c)

9
10
11
12
13

In [9]:
arr = [1,2,4]

for i in arr:
    print(i)
    print("IN the array")
print("out")

1
IN the array
2
IN the array
4
IN the array
out

In [10]:
fac = 5
factorial = 1

for i in range(fac,1,-1):
    factorial = factorial * i
print(factorial)

120

In [27]:
def func(arg):
    print("this is function")
    print(arg)

func(10)

this is function
10

In [ ]:
lists = [20, 25, 15, 35]

lists.append(10)
lists.remove(35)
lists.sort(reverse=True)
lists.reverse()

print(lists)
print(lists[1])

[25, 20, 15, 10]
20

In [18]:
list_2d = [
    [10,20,5],
    [30,40,20]
]
print(list_2d[1][1])

40

In [19]:
list_3d = [
    [
        [10,20,5],
        [30,40,20]
    ],
    [
        [15,2,50],
        [3,40,25]
    ]
]
print(list_3d[1][1][1])

40

In [ ]:
list_4d = [
    [
        [
            [10,20,5],
            [30,40,20]
        ],
        [
            [103,203,5],
            [304,403,20]
        ]
    ],
    [
        [
            [110,20,53],
            [30,401,250]
        ],
        [
            [110,20,15],
            [310,140,210]
        ]
    ]
]
print(list_4d[1][0][1][1])

401

In [33]:
student_list ={
    131 : "nahid",
    "student1":{
        "name": "nahid",
        "id": 221311131,
        "Sem": "8th",
        "sub":{
            "cse1": "computer",
            "cse2": "computer graphics"
        }
    },
    "student2":{
        "name": "sahid",
        "id": 221311130,
        "Sem": "8th"
    }
    
}
print(student_list[131])
print(student_list["student1"]["sub"]["cse1"])

nahid
computer

In [54]:
original_list = [10, 20, 30, 40, 5]
extracted_list = [original_list[0], original_list[1]]
print(extracted_list)

[10, 20]

In [44]:
original_list = [10, 20, 30, 40, 5]
extracted_list = []

for i in range(3):
    extracted_list.append(original_list[i])

print(extracted_list)

[10, 20, 30]

In [45]:
original_list = [10, 20, 30, 40, 5]
extracted_list = []

for i in range(1,4):
    extracted_list.append(original_list[i])

print(extracted_list)

[20, 30, 40]

In [46]:
original_list = [10, 20, 30, 40, 5]
extracted_list = []
length = len(original_list)//2

for i in range(length-1,length+2):
    extracted_list.append(original_list[i])

print(extracted_list)

[20, 30, 40]

In [47]:
original_list = [10, 20, 30, 40, 5]
extracted_list = original_list[0:3]
print(extracted_list)

[10, 20, 30]

In [49]:
original_list = [10, 20, 30, 40, 5]
length = len(original_list)//2
extracted_list = original_list[length-1:length+2]
print(extracted_list)

[20, 30, 40]

In [ ]:
#odd print
original_list = [10, 25, 30, 40, 5]

extracted_list= []
for i in original_list:
    if(i  % 2 !=0):
       extracted_list.append(i)
    
print(extracted_list)

In [ ]:
original_list = [10, 25, 30, 40, 5]
extracted_list = [var for var in original_list]
print(extracted_list)

[10, 25, 30, 40, 5]

In [51]:
original_list = [10, 25, 30, 40, 5]
extracted_list = [var for var in original_list[0:3]]
print(extracted_list)

[10, 25, 30]

In [52]:
original_list = [10, 25, 30, 40, 5]
extracted_list = [original_list[var] for var in range(3)]
print(extracted_list)

[10, 25, 30]

In [53]:
original_list = [10, 25, 30, 40, 5]
extracted_list = [var for var in original_list if var % 2 !=0]
print(extracted_list)

[25, 5]