In [1]:
num = 10
num = 10.10
num1 = "10"
num2 = 20.20
num3 =  num1 + num2
print(type(num3))

TypeError: can only concatenate str (not "float") to str

In [11]:
input1 = input("Enter a number:")

In [13]:
# for(int i = 0;i<n; i++){

# }

arr = [1,2]

for var in arr:
    print(var)
    print("I cant get out")
    
print("Im out")

1
I cant get out
2
I cant get out
Im out

In [17]:
num1 = 0
num2 = 1
limit = 5

for var in range(limit):
    num3 = num1 + num2 
    print(num3)
    num1 = num2
    num2 = num3

1
2
3
5
8

In [23]:
fact_num = 7
factorial = 1

for var in range(fact_num,1,-2):
    factorial = factorial * var
print(factorial)

105

In [5]:
# int Func_name (args){

# }

def func_name(args):
    print("This is a method")
    return 10

var1 = func_name(10)

This is a method

In [11]:
list1 = [12,20,30,40]
list2 = [300,400]
list1.append(10)
list1.reverse()
list1.remove(20)
list1.sort()

list1 = list1 + list2

print(list1)

[10, 12, 30, 40, 300, 400]

In [14]:
list_4d = [
    [
        [
            [10,20,30],
            [40,50,60]
        ],
        [
            [100,200,300],
            [400,500,600]
        ]
    ],
    [
        [
            [101,202,303],
            [404,505,606]
        ],
        [
            [1001,2002,3003],
            [4004,5005,6006]
        ]
    ]
]

print(list_4d[1][0][0][1])

202

In [20]:
tuple1 = (10,20)

Student_list = {
    "Student1" : {
        "Name" : "Kuhin",
        "Id" : 221311155,
        "CGPA" : 4.00
    },
    "Student2" : {
        "Name" : "Nuhan",
        "Id" : 221311121,
        "CGPA" : 4.00
    },
    "Student3" : {
        "Name" : "Ronok",
        "Id" : 221311127,
        "CGPA" : 3.00
    },
    "Student4":{
        "Name": "Ripper",
        "ID" : "Confidential",
        "CGPA" : "Unknow",
        "Time_Space" : [
                [
                    [
                        [10,20,30],
                        [40,50,60]
                    ],
                    [
                        [100,200,300],
                        [400,500,600]
                    ]
                ],
                [
                    [
                        [101,202,303],
                        [404,505,606]
                    ],
                    [
                        [1001,2002,3003],
                        [4004,5005,6006]
                    ]
                ]
            ]
    }
}

print(Student_list["Student3"])

{'Name': 'Ronok', 'Id': 221311127, 'CGPA': 3.0}